body {
	color: #202020;

}
.container {
	min-width: 1200px;
}
aside.card {
	border:0;
}
.card-block {
	flex: 0 1 auto;
}
a {
	color: inherit;
}
a:hover,
a:visited{
	color:inherit;
}

/*aside部分*/
aside.card{
	padding: 15px 20px;
	background-color: #9d9d9d;
}

.card-footer,
.card-header {
	background-color: inherit;
	border-width: 3px;
	border-color: #bcbcbc;
	color: #f4f4f4;
}

.card-header {
	margin-bottom: 100px;
}

.info,
.skill {
	padding: 20px 0;
	margin-top: 100px;
}

.info {
	border-top: 2px solid #bcbcbc;
	border-bottom: 2px solid #bcbcbc;
	color: #f4f4f4;
	padding: 100px 0;
	
}

/*个人信息、技能评估*/
aside dl {
	font-size: 0;
	margin: 0;
}
aside dt {
	display: inline-block;
	width: 105px;
	font-size: 1rem;
	text-align: right;
}
aside dd {
	display: inline-block;
	width: 135px;
	font-size: 1rem;
}
.skill dt {
	width: 85px;
	position: relative;
	top: -16px;
	vertical-align: bottom;
}
.skill dd {
	width: 145px;
	height: 1.25rem;
	border-radius: .5rem;
	margin-left: 10px;
	line-height: 1.25rem;
	background-color: #636363;
	margin-bottom: 16px;
}
.skill dd:after {
	content: "";
	display: block;
	height: 100%;
	border-radius: .5rem;
	background-color: #f4f4f4;
}

.skill dd:nth-of-type(1):after{
	width: 70%;
}
.skill  dd:nth-of-type(2):after{
	width: 65%;
}

.skill  dd:nth-of-type(3):after{
	width: 75%;
}
.skill  dd:nth-of-type(4):after{
	width: 50%;
}
.skill  dd:nth-of-type(5):after{
	width: 40%;
}
.skill  dd:nth-of-type(6):after{
	width: 30%;
}
.skill  dd:nth-of-type(7):after{
	width: 30%;
}
.card-footer {
	padding-top: 100px;
	margin-top: 100px;
}
.card-footer img {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -3px;
	
}


/*主要内容*/
main {
	background-color: #f9f9f9;
	color:#424242;
}
/*每个title*/
main h5 {
	border-radius: .25rem;
	padding: 0 15px;
	background-color: #9d9d9d;
	background-color: #212121;
	color: #f4f4f4;
	line-height: 45px;
}
main .card-block div{
	margin-top: 20px;
	padding-left: 15px;
	height: 125px;
}
/*掌握技术*/
main  img {
	width: 125px;
	vertical-align: top;
	margin-right: 15px;
	transition: transform .5s;
}

main img:hover {
	transform: scale(1.2);
}

main a{
	font-weight: 900;
	font-size: 1.5rem;
	text-decoration: underline;
}

main a + span {
	display: block;
	position: relative;
	top: -60px;
	left: 145px;
}

/*鼠标移动到demo图片上，展示demo图片的浮出层。*/
#showImageContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(204, 204, 204, .7);
	z-index: -1;
}

/*当前展示的图片*/
#showImageContainer img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-top: -150px;
	margin-left: -250px;
	z-index:0;
}