<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>todoList</title>
	<script src="../vue.js"></script>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="app">
		<header>
			<h2>
			ToDoList
			<input type="text" placeholder="增加要完成的todo，回车键入" v-model.trim="newTodoText" @keyup.enter="createNewTodo"></h2>
		</header>
		<div>
			<p v-if="!doingLength">没有正在进行的任务</p>
			<!-- v-else 给v-if添加else块 js的if else语句。不满足if块条件时候出现 -->
			<p v-else>正在进行 <span>{{doingLength}}</span></p> 
			<ul>
				<li v-for="todo,index in todoList" v-if="!todo.flag">
					<input type="checkbox" @click="todo.flag = !todo.flag">
					<p @click="showEdit(todo)">
						{{todo.text}}
						<input 
						type="text" 
						v-show="todo === edit" 
						v-model:value="todo.text"
						v-focus="todo === edit"
						@blur="changeValue(todo)"
						@keyup.enter="changeValue(todo)"
						@keyup.esc="todo.text =oldText;edit = ''">
					</p>
					<span @click="todoList.splice(index,1)"></span>
				</li>
			</ul>
		</div>
		
		<div>
			<p v-if="!doneLength">没有完成的任务</p>
			<p v-else>已经完成 <span>{{doneLength}}</span></p>
			<ul>
				<li v-for="todo,index in todoList" v-if="todo.flag">
					<input type="checkbox" @click="todo.flag = !todo.flag">
					<p @click="showEdit(todo)">
						{{todo.text}}
						<input 
						type="text" 
						v-show="todo === edit" 
						v-model:value="todo.text"
						v-focus="todo === edit"
						@blur="changeValue(todo)"
						@keyup.enter="changeValue(todo)"
						@keyup.esc="todo.text =oldText;edit = ''">
					</p>
					<span @click="todoList.splice(index,1)"></span>
				</li>
			</ul>
		</div>
			<!-- TODO 测试slot-->
			<!-- <child :todo-list="todoList" >
				<template slot="todos" scope="props" slot="test" v-if="props.flag" >
				</template>
				
			</child>
			<h2>未完成</h2>
			<child :todo-list="todoList">
				<template slot="tips">
					<p v-if="!doneLength">没有完成的任务</p>
					<p v-else="">已经完成<span>{{doneLength}}</span></p>
				</template>
				
				<template slot="todo" scope="props">
					<li v-if="props.flag">
						<input type="checkbox" name="">
						<p>{{props.text}}</p>
						<span></span>
					</li>
				</template>
			</child> -->
		</div>
	</div>

	<script src="app.js"></script>
</body>
</html>