<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../vue.js"></script>
	<link rel="stylesheet" href="main.css">
</head>
<body>
<div id="toDoList">
	<header>
		<h2>
			ToDoList
			<!-- v-model指令对于表单控件进行双向绑定，方便进行数据的修改 -->
			<input type="text" v-on:keyup.13 = "fnCreateToDo()" v-on:blur="fnCreateToDo()" id="createToDo" v-model="createToDo" placeholder="增加要完成的todo，回车键入">
		</h2>
	</header>
	<div>
		<!-- 此处通过v-show控制两个p标签的display进行提示 -->
		<p v-show="!doingLists.length">没有待完成的任务</p>
		<p v-show="doingLists.length">正在进行<span>{{doingLists.length}}</span></p>
		<ul>
			<li v-for="doing in doingLists" >
				<input type="checkbox" name=""  v-on:click = "doingToDone(doing)" v-model="doing.flag">
				<p v-bind:title="doing.text" v-on:click="showEditInput(doing)">
					{{doing.text}}
					<input type="text" v-bind:class="{showEditInput:doing === editText}" v-focus="editText === doing"  v-on:blur="editText = ''" v-model="doing.text" v-on:keyup.13="editText = ''" v-on:keyup.esc="doing.text = oldText;editText = ''">
					<!-- blur清空editText，因为本来通过input的v-model使得doing的text的值是改变了，而editText又是和doing共用1个内存。修改1个对象，另外1个对象的值也跟着改变。但是清空1个对象，另外个对象还是存在。所以清空editText的值，doing的值不变 -->
				</p>
				<span v-on:click = "deleteList(doing, doingLists)"></span>
			</li>
		</ul>
	</div>
	
	<div>
		<p v-show="!doneLists.length">没有已经完成的任务</p>
		<p v-show="doneLists.length">已经完成<span>{{doneLists.length}}</span></p>
		<ul>
			<li v-for="done in doneLists">
				<input type="checkbox" name=""  v-on:click = "doneToDoing(done)" v-model="done.flag">
				<p v-bind:title="done.text" v-on:click="showEditInput(done)">
					{{done.text}}
					<input type="text" v-bind:class="{showEditInput:done === editText}" v-focus="editText === done"  v-on:blur="editText = ''" v-model="done.text" v-on:keyup.13="editText = ''" v-on:keyup.esc="done.text = oldText;editText = ''">
				</p>
				<span v-on:click = "deleteList(done, doneLists)"></span>
			</li>
		</ul>
	</div>
</div>
	
<script type="text/javascript" src="main.js"></script>
</body>
</html>