body, header, h2, ul, li, div, p {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #ccc;
}

/*头部*/
header {
	background-color: #323232;
	line-height: 60px;
	color: #fff;
}
h2,
#toDoList > div {
	width: 768px;
	margin: 0 auto 20px;
	padding: 0 100px
}
header input {
	float: right;
	width: 250px;
	height: 30px;
	padding: 0 10px;
	border: 0;
	margin-top: 15px;
	outline: 0;
	font-size: 18px;
}
header input:focus {
	outline: 0;
	box-shadow: -2px -2px 2px 1px #b0bec5 inset;
}

div > p {
	font-weight: 700;
}

p > span{
	float: right;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	background: #eceff1;
}

li {
	position: relative;
	overflow: hidden;
	height: 36px;
	padding-left: 10px;
	padding-right: 40px;
	border-radius: 5px;
	margin-top: 15px;
	line-height: 36px; 	
	font-size: 20px;
	list-style-type: none;
	background-color: #b0bec5;
	color: #fff;
	box-shadow: 1px 1px #aab1b5, -2px -2px #b0bec5;
}

li p {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 60px);
	height: 100%;
	white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

li > input {
	position: relative;
	top: -5px;
	width: 22px;
	height: 22px;
	box-shadow: 2px 3px 2px #90a4ae inset;
	border:0;
	line-height: 30px;
	margin-right: 5px;
}

li span {
	position: absolute;
	top: 3px;
	right: 0;
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	border:1px solid ;
	border-radius: 50%;
	box-shadow: 0px 0px 0 5px #ccc;
	margin: 7px 20px;
	text-align: center;
	background-color: #fff;
}

li span:after {
	content:"";
	display: block;
	width: 10px;
	height: 4px;
	background-color: #b0bec5;
	margin-left: 3px;
	margin-top: 6px;
}

/*可编辑的文本框*/
li p > input {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 0;
	margin-top: 3px;
	line-height: 30px;
	outline: 0;
}
.showEditInput {
	display: inline-block;
}


